---
layout: default
title: Blog
description: Новости Национальной премии по управлению государственной собственностью.
header: Блог
header_subtext: Новости Национальной премии по управлению государственной собственностью
sitemap:
  changefreq: daily
  priority: 0.8
---

<section>
	<div class="container text-container">
		<ul class="blog-posts">
			{% for post in paginator.posts %}
				<li class="blog-post">
					<div class="post-author-small">
						{% if post.author %}
							{% assign author = site.authors | where: "author", post.author | limit: 1 %}

							{% if author and author[0] %}
								<img src="{{ author[0].image_path }}" alt="A stunning photo of {{ author[0].name }}" width="200" height="200">
							{% else %}
								<img src="/img/authors/{{ post.author }}.jpg" alt="A stunning photo of {{post.author}}" width="200" height="200">
							{% endif %}
						{% endif %}

						<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
						<p class="post-details">{{ post.category }} <span class="date">{{ post.date | date: "%B %d, %Y" }}</span></p>
					</div>

					<p>
						{% if post.content contains '<!-- excerpt stop -->' %}
							{{ post.content | split:'<!-- excerpt stop -->' | first }}
						{% else %}
							{{ post.excerpt }}
						{% endif %}
					</p>

					<a href="{{ post.url }}" class="btn small-btn">Подробнее  &rarr;</a>
				</li>
			{% endfor %}
		</ul>

		<hr>
		<!-- Pagination links -->
		<div class="pagination">
			{% if paginator.previous_page %}
				<a href="{{ paginator.previous_page_path }}" class="previous btn">&larr; Новые публикации</a>
			{% else %}
				<span class="previous">No Newer Posts</span>
			{% endif %}

			<span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

			{% if paginator.next_page %}
				<a href="{{ paginator.next_page_path }}" class="next btn">Предыдущие публикации &rarr;</a>
			{% else %}
				<span class="next">No Older Posts</span>
			{% endif %}
		</div>
	</div>
</section>

<section class="bright-section centered">
	<div class="container">
		<h2>Примите участие в работе совета Премии</h2>
		<p><a href="http://corp.vot.expert/c/naczionalnaya-premiya/" class="btn btn-primary btn-large btn-block btn-centered">Зарегистрироваться</a></p>
	</div>
</section>
