---
layout: default
title: Press
header: Пресс-релизы
header_subtext: 
permalink: /press/
---
<section>
	<div class="container text-container">
		<h3>Company Info</h3>

		<h4>Founded</h4>
		<p>{{ site.company.founded }}</p>

		<h4>Team Size</h4>
		<p>{{ site.company.team_size }}</p>

		<h4>Located</h4>
		<p>{{ site.company.address }}</p>

		<h4>Funding</h4>
		<p>{{ site.company.funding }}</p>

		<h4>Investors</h4>
		<p>{{ page.investors | array_to_sentence_string }}</p>

		<h4>Media Contacts</h4>
		<p>
			{% for contact in page.media_contacts %}
				{{ contact.name }}, {{ contact.position }} <a href="mailto:{{ contact.email }}">Email</a>
				{% unless forloop.last %}<br>{% endunless %}
			{% endfor %}
		</p>
	</div>
</section>

<section id="featured-articles">
		<div class="container text-container articles">
			<h3>Featured Articles</h3>

			{% for article in page.articles reversed %}
			<div class="article">
				<div class="logo"><img src="{{ article.logo_path }}" alt="{{ article.name }}"></div>
				<h4><a target="_blank" href="{{ article.link }}">{{article.title}}</a></h4>
				<p>{{ article.date | date_to_string }}</p>
			</div>
			{% endfor %}
		</div>
	</div>

</section>

<section>
	<div class="container text-container">
		<div class="milestones">
			<h3>Milestones</h3>
			{% for milestone in page.milestones reversed %}
				<div class="milestone">
					<img src="{{ milestone.logo_path }}" alt="{{ milestone.name }}">
					<h4><a href="{{ milestone.link }}">{{ milestone.description }}</a></h4>
					<p>{{ milestone.date | date: '%B %Y' }}</p>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
