---
layout: default
---

{% if page.heroprofile %}
<!--Него profile -->
<header class="{{ page.name | slugify }}">
	<div class="container">
		{% assign ename = page.profile.ename %}
		{% assign heroimg = "/a/" | append: ename | append: "01" | append: ".jpg" %}
		<img src="{{ heroimg }}"  />
		{% if page.heroprofile.heroorganization %}
		<h3>{{ page.heroprofile.heroorganization }}</h3>
		{% endif %}
		<!--<h3>{{ page.profile.secondname }} {{ page.profile.firstname }} {{ page.profile.lastname }}</h3>-->
		<h3>{{ page.heroprofile.heroaward }}</h3>
		<h3>{{ page.heroprofile.herocategory }}</h3>
		
	</div>
</header>
<!--end of Него profile -->

<link type="text/css" rel="stylesheet" href="/css/lightslider.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<!--Profile -->
{% assign profileimg = "/a/" | append: ename | append: ".jpg" %}
<section>
	<div class="blog-post">
		<div class="post-author-big">
			<img src="{{ profileimg }}" alt="A stunning photo of {{ author[0].name }}">
			<h3>{{ page.profile.secondname }} {{ page.profile.firstname }} {{ page.profile.lastname }}</h3>
			<p class="post-details">{{ page.profile.headtitle }} &emsp; <a href="{{ leader.url }}" class="btn small-btn">Подробнее  &rarr;</a></p>
		</div>
		<p>&emsp;{{ page.heroprofile.herosummary }}</p>
	</div>
</section>
<!--end of profile -->

<!--Profile summary 
<section>
	<div class="container text-container">
		<p>{{ page.profile.summary }}</p>
	</div>
</section>
of profile summary-->
<!--
<section>
	<div class="container text-container">
		<p>{{ page.heroprofile.herosummary }}</p>
	</div>
</section>-->
<section>

    <link rel="import" href="http://corp.vot.expert/">

<script type="text/javascript">
var htmlImport = document.querySelector('link[rel="import"]');
var htmlDoc = htmlImport.import;
var htmlMessage = htmlDoc.querySelector('.message-success');
document.body.appendChild(htmlMessage.cloneNode(true));	
</script>
</section>
<section>
<div id='discourse-comments'></div>

<script type="text/javascript">
  DiscourseEmbed = { discourseUrl: 'http://corp.vot.expert/',
                     topicId: 20 };

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>
</section>
{% if page.testimonial %}
	<blockquote class="testimonial">
			<div class="container text-container">
				<p class="quote" contenteditable="true">{{ page.testimonial.text }}</p>
				<div class="author" contenteditable="true">
					<img src="{{page.testimonial.image_path}}" width="350">
					<p>
						<span>{{ page.testimonial.name }}</span>
						<br>
						{{ page.testimonial.work_title }}
					</p>
				</div>
			</div>
	</blockquote>
{% endif %}
<section>
	<div class="container">
		<ul class="photo-gallery">
			{% for i in (1..page.profile.slides) %}
				{% assign imgfile = "/a/" | append: ename | append: "1" | append: i | append: ".jpg" %}
			
  				<li data-thumb="{{ imgfile }}" data-src="{{ imgfile }}">
				<img class="screenshot" alt="{{ imgfile }}" src="{{ imgfile }}" />
				</li>
			{% endfor %}
		</ul>
	</div>
</section>

<section style="text-align: center; padding-bottom: 0;">
	<div class="container">
		<h2>Реализованные проекты</h2>
	</div>
</section>

{% assign count = 1 %}
{% for project in page.projects %}
	<section class="{% cycle '', 'alternate' %}">
		<div class="container">
			<div class="text" contenteditable="true">
				<h3>{{ project.name }}</h3>
				{{ project.description | markdownify }}
			</div>
			
			<div class="image">
				{% assign projectimg = "/a/" | append: ename | append: 2 | append: count | append: ".jpg" %}
				{% capture count %}{{ count | plus:1 }}{% endcapture %}
				<img class="screenshot" src="{{ projectimg }}" width="550" alt="{{ project.name }}" /> <br>
			</div>
		</div>
	</section>
{% endfor %}

<section class="alternate">
	<div class="container text-container">
		<p>{{ page.calltoaction }}</p>
		{{ page.summary | markdownify }} <a href="{{ page.callbuttonlink }}" class="btn small-btn">{{ page.callbutton }}  &rarr;</a> &emsp; &emsp; &emsp;
	         {% assign url = page.url | prepend: site[jekyll.environment].url | cgi_escape %}
				<a class="share-btn facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank">
						{% include social-icon.html social_icon="facebook" %} Поделиться
					</a> 
	</div>
</section>

<section class="bright-section centered">
	<div class="container">
		<h2>Стань партнером Национальной премии!</h2>
		<p>
			<a href="../bepartner" class="btn btn-primary btn-large btn-block btn-centered">Описание партнерства</a>
		</p>
	</div>
</section>

<script src="/js/lightslider.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		$(".photo-gallery").lightSlider({
			gallery: true,
			item: 1,
			loop: true,
			auto: true,
			speed: 800,
			thumbItem: 5,
			thumbMargin: 20,
			slideMargin: 0,
			enableDrag: false,
			currentPagerPosition: "left",
		});
	});
</script>
{% endif %}
